<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realtime-ChatApp | <%= pageTitle %>
    </title>

    <%- include('partials/bootstrap.ejs') %>
</head>

<body>

    <div id="alert-container"></div>

    <div class="container my-4">
        <form onsubmit="submitSignup(event)" class="form-container">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" id="username" required
                    placeholder="Enter your username">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" id="email" required
                    placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" required name="password" id="password"
                    placeholder="Enter your password">
            </div>
            <div class="container text-center">
                <button class="btn btn-success">Sign up</button>
                <hr>
                <hp>Already have an account ?<span><a href="/login" style="text-decoration: none;"> Login</a></span>
                </hp>
            </div>
        </form>
    </div>

    <script src="js/signup.js"></script>
    <script src="js/alert.js"></script>
</body>

</html>